:root {
    --bg-color: #0755A1;
    --blue-color: #000080;
    --skyBlue: #E6E6FA;
    --black: #000000;
    --text-color: #708090;
    --btn-text: white;
    --box-btn: #64748b;
    --btn-color: #D3D3D3;
    --button-col: #333333;
    --slate-500:  #595f68;
 }